     html, body {
            height: 100%;
            margin: 0;
            background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
     }
     body {
             padding-top: 80px;
         }

    .menu-buttons {
          background-color: #0056b3;
          color: white;
          border: none;
          padding: 12px 20px;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
      }

    .menu-buttons:hover {
          background-color: #19398A;
          color: white;
      }

    .menu-buttons button {
        height: 100%;
    }

    .menu-buttons button:hover {
            background-color: #198754;
        }

     .menu-buttons i {
            margin-right: 10px; /* Povećava razmak između ikone i teksta */
        }

    .fixed-bottom-buttons {
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
        z-index: 1030;
        display: flex;
        justify-content: center;
        background-color: #19398A;
        padding: 10px 0;
    }

    .navbar {
            position: fixed;
            top: 0;
            z-index: 1000;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px 0;
            padding-left: 2px;
        }

    .custom-bg-dark {
           background-color: #19398A !important;
           color: #ffffff;

    }

    .navbar .nav-link i {
        padding-left: 2px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        color : #e1dcdc;
    }

    .navbar .nav-link i:hover {
        color: #ffffff;
        transition: color 0.3s ease;
    }
    .display-message
        {
            display: none;
        }
.btn i {
                                margin-right: 10px; /* Povećava razmak između ikone i teksta */
                            }
