html, body {
    height: 100%;
    margin: 0;
    /*background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
    /*background: linear-gradient(120deg, #e6e6e6 0%, #c8cbce 100%);*/
    background: linear-gradient(120deg, #f0f0f0 0%, #d9dcde 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    padding-top: 80px;
}

@media only screen and (max-width: 699px) {
    table {
        font-size: 14px;
    }
}

@media (max-width: 699px) {
    .table-responsive {
    overflow-x: auto;
    }
}

/*
th {
    text-align: center;
}
*/
.display-message
{
    display: none;
}


.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 2px;
}

.custom-bg-dark {
    background-color: #19398A !important;
    color: #ffffff;
}

.navbar .nav-link i {
    display: flex;
    align-items: center;
    color : #e1dcdc;
}

.navbar .nav-link i:hover {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar .margin-right i {
    padding-right: 10px;
}

.navbar .margin-left i {
    padding-left: 10px;
}

.fixed-bottom-buttons {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1030;
    display: flex;
    justify-content: center;
    background-color: #19398A;
    padding: 10px 0;
}

.fixed-bottom-buttons .btn {
    margin: 0 10px;
}
.fixed-bottom-buttons .btn i {
    margin-right: 10px;
}




