.btn { height: 60px; }
        .navbar {
          position: fixed;
          top: 0;
          z-index: 1000;
          width: 100%;
          background-color: #343a40;
          padding: 10px 0;
          padding-left: 2px;
        }

        .navbar .nav-item {
          margin-right: 15px;
        }

        .navbar .nav-link {
          color: #fff;
        }

        .navbar .nav-link:hover {
          color: #f8f9fa;
        }
        body {
          padding-top: 60px;
        }