<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine ID</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>

<div class="container">
    <!-- Gumb za prikazivanje machineId -->
    <button class="btn btn-primary mr-2" onclick="displayMachineId()">Prikaži ID</button>

    <!-- Gumb za brisanje machineId -->
    <button class="btn btn-danger mr-2" onclick="deleteMachineId()">Obriši ID</button>

    <!-- Gumb za prikazivanje sadržaja local storage-a -->
    <button class="btn btn-info" onclick="displayLocalStorage()">Prikaži LocalStorage</button>

    <!-- Div za prikazivanje machineId -->
    <div id="machineIdDisplay" class="mt-4"></div>

    <!-- Div za prikazivanje sadržaja local storage-a -->
    <div id="localStorageDisplay" class="mt-4"></div>
</div>

<script th:inline="javascript">
    function getMachineId() {
        let machineId = localStorage.getItem('MachineId');

        if (!machineId) {
            machineId = crypto.randomUUID();
            localStorage.setItem('MachineId', machineId);
            localStorage.setItem('Korisnik', 'abel');
            localStorage.setItem('Lozinka', 'abel1503');
        }
        console.log(machineId);

        return machineId;
    }

    function displayMachineId() {
        // Dohvaćamo MachineId iz lokalne pohrane
        var machineId = getMachineId();
        // Prikažemo MachineId u divu
        document.getElementById('machineIdDisplay').innerText = "[" + machineId + "]";
    }

    function deleteMachineId() {
        // Brišemo MachineId iz lokalne pohrane
        localStorage.removeItem('MachineId');
        // Obavijestimo korisnika da je MachineId obrisan
        alert('Machine ID je obrisan iz lokalne pohrane.');
        // Ažuriramo prikaz da prikaže prazan string
        document.getElementById('machineIdDisplay').innerText = "";
        // Praznimo prikaz lokalnog skladišta
        document.getElementById('localStorageDisplay').innerText = "";
    }

    function displayLocalStorage() {
        // Dohvaćamo cijeli sadržaj lokalne pohrane
        var localStorageContent = JSON.stringify(localStorage);
        // Prikažemo sadržaj lokalne pohrane u divu
        document.getElementById('localStorageDisplay').innerText = localStorageContent;
    }

    // Pozivamo funkciju getMachineId() kada se stranica učita
    window.onload = function() {
        getMachineId();
    };
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
