<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine ID</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="https://betastudio.hr/betasoft/png/employee-16x16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="https://betastudio.hr/betasoft/png/employee-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://betastudio.hr/betasoft/png/employee-180x180.png">
    <link rel="stylesheet" href="/css/table.css">

    <style>
        .container {
            margin-top: 50px;
        }
        .label-style, #currentMachineIdDisplay h5 {
            font-family: Arial, sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="padding-left: 10px;" th:href="${path}"><i class="fas fa-arrow-left fa-1x"></i></a>
            </li>
        </ul>
        <a class="navbar-brand mx-auto" th:text="${title}" href="#">Naslov</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link d-inline-block" style="padding-right: 10px;" href="/logout">
                    <i class="fas fa-sign-out-alt fa-1x"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div id="currentMachineIdDisplay" class="mb-4">
        <h5>Trenutni machine ID: <span id="currentMachineId">Nema postavljenog ID-a</span></h5>
    </div>

    <div class="form-group">
        <label for="machineIdInput" class="label-style">Unesite Machine ID:</label>
        <input type="text" id="machineIdInput" class="form-control" placeholder="Unesite Machine ID">
    </div>

    <button class="btn btn-success mr-2" onclick="setMachineId()">Postavi ID</button>
    <button class="btn btn-danger mr-2" onclick="deleteMachineId()">Obriši ID</button>

    <div id="machineIdDisplay" class="mt-4"></div>
</div>

<script>
    function getMachineId() {
        let machineId = localStorage.getItem('MachineId');

        if (!machineId) {
            machineId = crypto.randomUUID();
            localStorage.setItem('MachineId', machineId);
        }
        console.log(machineId);

        return machineId;
    }

    function updateCurrentMachineIdDisplay() {
        var machineId = localStorage.getItem('MachineId');
        var currentMachineIdElement = document.getElementById('currentMachineId');
        if (machineId) {
            currentMachineIdElement.innerText = machineId;
        } else {
            currentMachineIdElement.innerText = "Nema postavljenog ID-a";
        }
    }

    function deleteMachineId() {
        localStorage.removeItem('MachineId');
        alert('Machine ID je obrisan iz lokalne pohrane.');
        updateCurrentMachineIdDisplay();
    }

    function setMachineId() {
        var machineId = document.getElementById('machineIdInput').value;

        if (machineId) {
            localStorage.setItem('MachineId', machineId);
            alert('Machine ID je postavljen.');
            document.getElementById('machineIdInput').value = "";
            updateCurrentMachineIdDisplay();
        } else {
            alert('Molimo unesite validan Machine ID.');
        }
    }

    window.onload = function() {
        getMachineId();
        updateCurrentMachineIdDisplay();
    };
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>