<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evidencija radnog vremena</title>
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="https://betastudio.hr/betasoft/png/employee-16x16.png">

    <link rel="shortcut icon" type="image/png" sizes="32x32" href="https://betastudio.hr/betasoft/png/employee-32x32.png">

    <link rel="icon" type="image/png" sizes="16x16" href="https://betastudio.hr/betasoft/png/employee-16x16.png">

    <link rel="icon" type="image/png" sizes="32x32" href="https://betastudio.hr/betasoft/png/employee-32x32.png">

    <link rel="apple-touch-icon" sizes="180x180" href="https://betastudio.hr/betasoft/png/employee-180x180.png">

    <link rel="stylesheet" href="css/page-not-found.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="animate__animated animate__fadeIn">
                <svg
                        class="warning icon-large fa-hard-hat"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                >
                    <path
                            d="M480 288c0-80.25-49.28-148.92-119.19-177.62L320 192V80a16 16 0 0 0-16-16h-96a16 16 0 0 0-16 16v112l-40.81-81.62C81.28 139.08 32 207.75 32 288v64h448zm16 96H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h480a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"
                    ></path>
                </svg>
            </div>
            <h1 class="animate__animated animate__fadeIn">Error 404</h1>
            <div class="description-text animate__animated animate__fadeIn animate__delay-1s">
                <p>Stranica nije pronađena.</p>
                <section class="footer"><strong>betaSoft (c)</strong></section>
            </div>
        </div>
    </div>
</div>
</body>
</html>