<!DOCTYPE html>
<html lang="hr-HR"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Evidencija radnog vremena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS 4.6.2 -->
    <link rel="stylesheet" href="/backend/css/bootstrap.min.css">

    <!-- jQuery library 3.7.1 -->
    <script src="/backend/js/jquery.slim.min.js"></script>

    <!-- Popper JS 1.16.1 -->
    <script src="/backend/js/popper.min.js"></script>

    <!-- Latest compiled JavaScript 4.6.2 -->
    <script src="/backend/js/bootstrap.bundle.min.js"></script>

    <!--OVDJE SAM STAO -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/icons/wtr_16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/icons/wtr_32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/wtr_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/wtr_32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/icons/wtr_48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/wtr_192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/wtr_180.png">

    <link rel="stylesheet" href="/css/table.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark custom-bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link margin-left" th:href="${path}"><i class="fa-solid fa-chevron-left"></i></i></a>
            </li>
        </ul>
        <a class="navbar-brand mx-auto" th:text="${title}" href="#">Naslov tablice</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link d-inline-block margin-right" href="/logout"><i class="fas fa-sign-out-alt fa-1x"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-md-12">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>
                <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
            </div>
            <div class="table-responsive">
                <br>
                <table id="myTable" class="table table-striped table-hover" data-locale="hr-HR">
                    <thead>
                    <tr>
                        <th th:each="column : ${columnList}" th:text="${column.name}"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${dataList}">
                        <td th:each="column : ${columnList}" th:text="${data[column.field]}"
                            th:onclick="'window.location.href = \'' + @{${updateLink}(id=${data[columnList[0].id]})} + '\''">
                        </td>
                        <td>
                            <!--  deleteLink -->
                            <a th:if="${deleteLink != ''and deleteLink != null}"  th:href="@{${deleteLink}(id=${data[columnList[0].id]})}"
                               class="text-danger"
                               onclick="return confirm('Jeste li sigurni da želite obrisati podatak?') ? true : false"
                               style="margin-right: 16px;">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <!--  pdfLink -->
                            <a th:if="${pdfLink != '' and pdfLink != null}" th:href="@{${pdfLink}(id=${data[columnList[0].id]})}"
                               style="margin-right: 16px;">
                                <i class="far fa-file-pdf"></i>
                            </a>
                            <!--  showLink -->
                            <a th:if="${showLink != ''and showLink != null}" th:href="@{${showLink}(id=${data[columnList[0].id]})}"
                               style="margin-right: 16px;">
                                <i class="fas fa-list"></i>
                            </a>

                            <!--  attendancePdf -->
                            <a th:if="${attendancePdf != '' and attendancePdf != null}" href="javascript:void(0);"
                               th:onclick="'openPopup(' + ${data[columnList[0].id]} + ', \'/html\')'"
                               style="margin-right: 16px;">
                                <i class="far fa-file-pdf"></i>
                            </a>

                            <!--  absencePdfLink -->
                            <a th:if="${absencePdfLink != '' and absencePdfLink != null}" href="javascript:void(0);"
                               th:onclick="'openPopup(' + ${data[columnList[0].id]} + ', \'/absence-html\')'"
                               style="margin-right: 16px;">
                                <i class="fas fa-print"></i>
                            </a>
                            <!-- printAttendanceDummy-->
                            <a th:if="${printAttendanceDummy != '' and printAttendanceDummy != null}" href="javascript:void(0);"
                               th:onclick="'openPopup(' + ${data[columnList[0].id]} + ', \'/attendance-html\')'"
                               style="margin-right: 16px;">
                                <i class="fas fa-print"></i>

                            </a>
                            <!-- locationLink-->
                            <a th:if="${locationLink != '' and locationLink != null}"
                               th:href="@{${locationLink}(id=${data[columnList[0].id]})}"
                               style="margin-right: 16px;">
                                <i class="fa fa-map-marker-alt"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div class="row">
        <br/><br/>
        <br/><br/>
    </div>
</div>

<div class="fixed-bottom-buttons">
    <div class="btn-group btn-group-justified">
        <div>
            <a th:if="${addLink != null and addBtnText != null}" th:href="@{${addLink}}" class="btn btn-primary me-3">
                <i class="fas fa-folder-plus me-2"></i>
                <span th:text="${addBtnText}">  Dodaj</span> </a>
        </div>
        <div>
            <a th:href="@{${path}}" class="btn btn-success me-3"> <span><i class="fas fa-undo me-2"></i> Povratak</span></a>
        </div>
    </div>
</div>


<div id="popupModal" class="modal" tabindex="-1" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Odaberite period</h5>
                <button type="button" class="close" onclick="closePopup()">&times;</button>
            </div>
            <div class="modal-body">
                <form id="dateForm" method="POST">
                    <input type="hidden" id="employeeId" name="employeeId" value="">
                    <div class="form-group" id="monthGroup">
                        <label for="month" class="form-label">Mjesec</label>
                        <select id="month" name="month" class="form-control">
                            <option value="01">Siječanj</option>
                            <option value="02">Veljača</option>
                            <option value="03">Ožujak</option>
                            <option value="04">Travanj</option>
                            <option value="05">Svibanj</option>
                            <option value="06">Lipanj</option>
                            <option value="07">Srpanj</option>
                            <option value="08">Kolovoz</option>
                            <option value="09">Rujan</option>
                            <option value="10">Listopad</option>
                            <option value="11">Studeni</option>
                            <option value="12">Prosinac</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="year" class="form-label">Godina</label>
                        <select id="year" name="year" class="form-control">
                            <script>
                                let yearDropdown = document.getElementById("year");
                                const currentYear = new Date().getFullYear();
                                for (let year = 2024; year <= currentYear+1; year++) {
                                    let option = document.createElement("option");
                                    option.value = year;
                                    option.text = year;
                                    yearDropdown.add(option);
                                }
                                yearDropdown.value = currentYear;


                            </script>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Prihvati</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function openPopup(employeeId, url) {
        console.log("Employee ID passed to openPopup:", employeeId);
        document.getElementById('employeeId').value = employeeId;
        document.getElementById('dateForm').action = url;

        if (url === '/absence-html') {
            document.getElementById('monthGroup').style.display = 'none';
        } else {
            document.getElementById('monthGroup').style.display = 'block';
        }

        document.getElementById('popupModal').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('popupModal').style.display = 'none';
    }


</script>


<script type="text/javascript" src="/js/show-active-user.js"></script>


<script type="text/javascript" th:src="@{${script}}"></script>

</body>
</html>
