<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/icons/wtr_16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/icons/wtr_32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/wtr_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/wtr_32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/icons/wtr_48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/wtr_192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/wtr_180.png">
    <title>Rezolucija pregledača</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #resolution {
            font-size: 24px;
        }
    </style>
</head>
<body>
<div id="resolution">Rezolucija: <span id="width"></span> x <span id="height"></span> px</div>

<script>
    function updateResolution() {
        document.getElementById("width").textContent = window.innerWidth;
        document.getElementById("height").textContent = window.innerHeight;
    }

    // Inicijalno prikazivanje rezolucije
    updateResolution();

    // Ažuriranje rezolucije kada se promeni veličina prozora
    window.addEventListener("resize", updateResolution);
</script>
</body>
</html>